allure-server
.idea
.settings
.scannerwork
.allure
log/
target/
output/
.classpath
.project
.DS_Store
*.iml
*.obj
*.pdb
*.user
*.aps
*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll 
*.lib
*.sbr
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
